.App {
  text-align: center;
}
*{
  margin: 0;
  padding: 0;
}
.overall{
  height: 100vh;
  width: auto;
  background-image: url(../public/bg1.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}